
.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.appointment {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 12px;
  width: 500px;

  .appointment-date {
    margin-right: 5px;
  }
}